/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top left, #181023, #0b0519);
  color: #c3b3d8;
  margin: 0;
  padding: 0;
  height: 100%;
}
::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: #c3b3d8;  /* Color of the scrollbar thumb */
  border-radius: 6px;  /* Round the corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4a0774;  /* Color of the scrollbar thumb on hover */
}
